In [1]:
import pandas as pd
import sys
sys.path.append("../")
from functools import reduce
import operator
import geopandas as gpd
import folium

In [2]:
companies = pd.read_csv('./data/companies.csv')

In [3]:
data_companies = pd.DataFrame(companies)
data_companies

   Unnamed: 0            name  longitude   latitude
0           0             Fon  -3.632687  40.530724
1           1         Spotify   6.121511  49.607295
2           2      Videoplaza  -0.102089  51.521248
3           3  Veeam Software -83.088566  40.088052
4           4           Busuu  -3.683032  40.422549
5           6       Comunitae  -3.703340  40.490511
6           7          IMASTE  -3.675517  40.427245
7           8        ticketea  -3.706176  40.445516

In [4]:
school = pd.read_csv('./data/school.csv')

In [5]:
data_school = pd.DataFrame(school)

In [6]:
metro = pd.read_csv('./data/metro.csv')

In [7]:
data_metro = pd.DataFrame(metro)

In [8]:
starbucks = pd.read_csv('./data/starbucks.csv')

In [9]:
data_starbucks = pd.DataFrame(starbucks)

In [10]:
import math

def haversine(coord1, coord2):
    R = 6372800  # Earth radius in meters
    lat1, lon1 = coord1
    lat2, lon2 = coord2
    
    phi1, phi2 = math.radians(lat1), math.radians(lat2) 
    dphi       = math.radians(lat2 - lat1)
    dlambda    = math.radians(lon2 - lon1)
    
    a = math.sin(dphi/2)**2 + \
        math.cos(phi1)*math.cos(phi2)*math.sin(dlambda/2)**2
    
    return 2*R*math.atan2(math.sqrt(a), math.sqrt(1 - a))

In [18]:
data_companies

   Unnamed: 0            name  longitude   latitude
0           0             Fon  -3.632687  40.530724
1           1         Spotify   6.121511  49.607295
2           2      Videoplaza  -0.102089  51.521248
3           3  Veeam Software -83.088566  40.088052
4           4           Busuu  -3.683032  40.422549
5           6       Comunitae  -3.703340  40.490511
6           7          IMASTE  -3.675517  40.427245
7           8        ticketea  -3.706176  40.445516

In [30]:
coord_c=(40.445516,-3.706176,)

#latlist = data_companies['latitude'].tolist()
#lonlist = data_companies['longitude'].tolist()

for long in data_companies.longitude:
    cord=[]
    print(long)
    cord.append(long)
    for lat in data_companies.latitude:
        print(lat)
        cord.append(lat)
        print(cord)
        distance = haversine(coord_c,cord )
    #print(city, distance)

-3.632687
40.530724
[-3.632687, 40.530724]
49.607295
[-3.632687, 40.530724, 49.607295]

ValueError: too many values to unpack (expected 2)